li:first-child{
    background-color: rgba(0, 0, 0, 0.6);
}
li:nth-child(4){
    background-color: rgba(123, 64, 102, 0.808);
}
li:nth-child(3){
    background-color: rgba(0, 0, 0, 0.6);
}
.rightPart {
    background-image: url(../img/wino/loza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}